<!-- <p>product-detail works!</p> -->
<ng-container
  *ngIf="product; then content; else notFound">
</ng-container>

<ng-template #content>
    <div class="product-detail">
        <div class="header">
            <p class="title">{{product?.productName | titlecase}}</p>
            <ng-template [ngIf]="isAdmin">
                <div class="button-group">
                    <button class="btn btn-primary" type="button">Add Product</button>
                    <button class="btn btn-primary" type="button">Edit Product</button>
                    <button class="btn btn-primary" type="button">Delete Product</button>
                </div>
            </ng-template>
        </div>
        <div class="content">
            <img [src]="product?.pic ? product?.pic : 'assets/pexels-photo-1152077.jpeg'" 
            alt="{{product?.productName}}">
            <div class="price-stock-add-to-cart-section">
                <div class="price-stock">
                    <p class="price">Price : {{product?.price | currency:'฿':'code'}}</p>
                    <p class="stock">In-Stock : {{product?.stock}}</p>
                </div>
                <button class="btn btn-primary "
                [ngClass]="{disabled: isDisableAddToCart(product?.stock)}"
                (click)="onAddToCart()"
                type="button" >Add to Cart</button>
            </div>
            <div class="description-section">
                <p class="description-header">Description :</p>
                <p class="description">{{product?.description}}</p>
                <p class="date">{{product?.createdDate | date}}</p>
            </div>
        </div>
    </div>
  </ng-template>
<ng-template #notFound>
    <div class="product-detail not-found">
        <h1>Product detail is not Found!!</h1>
    </div>
</ng-template>