<div class="product-list-in-cart">
    <table class="table table-striped table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col"
            *ngFor="let header of headerList">
            <ng-template [ngIf]="header === 'check-out'">
              <input class="form-check-input"
                type="checkbox"
                name="select-all"
                [(ngModel)]="isSelectedAll"
                (change)="onCheckedSelectAll()"
                id="flexCheckDefault"
                >
            </ng-template>
            {{ header | titlecase}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productsInCart; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>
                <input class="form-check-input"
                type="checkbox"
                name="{{product.productId}}"
                [(ngModel)]="product.isCheckOut"
                (change)="onChecked(product,$event)"
                id="flexCheckDefault"
                >
                <label class="form-check-label" for="flexCheckDefault">
                  Check-Out {{product.productName}}
                </label>
            </td>
            <td>{{product.productName}}</td>
            <td>
              <input
              type="number"
              id="amount"
              name="amount"
              [(ngModel)]="product.amount"
              (change)="onChangeAmount(product,$event)"
              min="1"
              [max]="product.stock"
              >
            </td>
            <td>{{product.totalPrice | currency:'฿':'code'}}</td>
          </tr>
        </tbody>
    </table>
    <div class="footer"
    *ngIf="productsInCart.length > 0">
      <p class="total"
      [tooltip]="'THIS IS FOOTER'"
      >Check-Out total: {{ totalCost | currency:'฿':'code'}}</p>
      <button 
      *ngIf="totalCost > 0"
      class="btn btn-primary" 
      type="button"
      (click)="onCheckOut()"
      >
      Check-Out
      </button>
    </div>
    <!-- <tooltip></tooltip> -->
</div>
