.product{
    padding: 6px;
    border-bottom: 1px solid rgb(222, 222, 222);
    p{
        margin: 0px;
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
    }
    .detail{
        font-weight: lighter;
        font-size: 12px;
    }
}