.product-list{
    padding: 6px;
    border-bottom: 1px solid rgb(222, 222, 222);
    p{
        margin: 0px;
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
    }
    .detail{
        font-weight: lighter;
        font-size: 12px;
    }
    &:hover{
        cursor: pointer;
        background-color: rgba(157, 0, 255, 0.1);;
    }
    &.active{
        cursor: pointer;
        background-color: rgba(0, 255, 149, 0.2);;
    }
}