$left-width: 40%;
$left-min-width: 100px;
$right-min-width: 200px;
.content{
    display: flex;
    flex-direction: row;
    height: 100vh;
    .content-left{
        background-color: rgb(255, 255, 247);
        width: $left-width;
        min-width: $left-min-width;
    }
    .content-right{
        background-color: salmon;
        width: calc(100% - $left-width);
        min-width: $right-min-width;
    }
}